#container .paper-box {
    padding: 10px;
}

#container .paper-box .title {
    width: 100%;
    height: 36px;

    line-height: 36px;
}

#container .paper-box .line {
    padding: 5px;
    border-bottom: 2px solid #C30;
}

#container .paper-box .paper-info {
    height: 32px;
    padding: 10px;

    line-height: 12px;
}

#container .paper-box .paper-info span {
    margin: 0 4px;
}

#container .paper-box .text {
    line-height: 32px;
    text-indent: 2em;
    text-align: justify;
    font-family: 宋体, serif;
}

#container .paper-box p {
    margin-bottom: 10px;
}